#services {
    position: relative;
    background-color: transparent;
    margin-top: 10rem;
    height: 100vh;
}
.services_container {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 3rem;
    margin-top: 4rem;
}

.services {
    background: transparent;
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-bg-variant);
    height: fit-content;
    transition: var(--transition);
}
.services:hover{
background: var(--color-bg-variant);
border-color: var(--color-primary-variant);
cursor:default;
}

.container_head {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem ;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.container_head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.services_list {
    padding: 2rem;
}

.services_list li{
    display: flex;
    gap: 1rem;
    margin-bottom:  0.8rem;
}
.services_list p {
    font-size: 0.9rem;
}



@media screen and (max-width :1024px) {
        .services_container {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
        .services {
            height: fit-content;
            height: auto;
        }
}

/* ============= media query small devices ======== */


@media screen and (max-width :600px) {
    .services_container {
        grid-template-columns:repeat(3,1fr);
        margin: 2rem 0rem 0rem 0rem;
        gap: 1rem;
    }
} 