@import url(https://fonts.googleapis.com/css?family=Montserrat);


svg {
    display: block;
    position: absolute;
    font: 5.5em 'Montserrat';
    width: 460px;
    height: 200px;
    /* margin: 0 auto; */
    /* right: 62rem; */
    /* margin-right: 0; */
    margin-left: -28rem;
    margin-top: -18rem;
}

 .text-copy {
    fill: none;
    stroke: rgb(12, 241, 241);
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #f509b2;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #0632f5;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #e0f006;
  animation-delay: -3s;
}
.text-copy:nth-child(4){
  stroke: #e407f8;
  animation-delay: -4s;
}

  .text-copy:nth-child(5){
  stroke: #1ff503;
  animation-delay: -5s;
}
.text-copy:nth-child(6){
  stroke: #051efd;
  animation-delay: -6s;
} 

.text-copy:nth-child(7){
  stroke: #f80d04;
  animation-delay: -7s;
} 

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}
