.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position:absolute;
    margin-left: -8rem;
    bottom: 15rem;
    border-radius:.5rem ;
    /* background-color: #080808; */
} 

/* ========social sideicon ====== */
.social .icons{
    width: 80%;
    /* background:rgb(245, 4, 225,0.1); */
    border-radius: 0.5rem ;
    /* border: 1px solid rgba(245, 13, 226, 0.1); */
   }

 button {
    background: transparent;
    /* border: 0; */
    /* width: 20px; */
    /* padding: 1em 2em; */
    box-shadow: inset 0 0 0 2px #081b30b9;
    /* color: #f45e61; */
    font-size: inherit;
    /* font-weight: 700; */
    position: relative;
    /* vertical-align: middle; */
  }
.social button {
  /* background-color: red; */
  width: 3rem;
  height: 3rem;
}
button::before, button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
  .spin {
    width: 3em;
    height: 5em;
    padding: 0;
  }
  .spin:hover {
    color: #0eb7da;
  }
  .spin::before, .spin::after {
    top: 0;
    left: 0;
  }
  .spin::before {
    border: 2px solid transparent;
  }
  .spin:hover::before {
    border-top-color: #f50ae9;
    border-right-color: #30da0e;
    border-bottom-color: #f57207;
    transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
  }
  .spin::after {
    border: 0 solid transparent;
  }
  .spin:hover::after {
    border-top: 2px solid #0eb7da;
    border-left-width: 2px;
    border-right-width: 2px;
    transform: rotate(270deg);
    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
  } 